.navigation {
  display: flex;
  list-style: none;
  gap: 35px;
}

.header{
  border: 1px solid #f0f0f0;
  border-radious: 4px;
  padding: 4px;
}

.navigation a:hover{
  color: "#f0f0f0";
  text-decoration: underline
}